<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Predict image labels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/templates/predict.css">
</head>
<body>

    <div class="ml-2 col-sm-6">
      <div id="msg"></div>
      <form method="post" id="image-form">
        <input type="file" name="img[]" class="file" accept="image/*">
        <div class="input-group my-3">
          <input type="text" class="form-control" disabled placeholder="Upload File" id="file">
          <div class="input-group-append">
            <button type="button" class="browse btn btn-primary">Browse...</button>
          </div>

        </div>
      </form>
    </div>
    <div class="ml-2 col-sm-6">
      <img src="https://placehold.it/80x80" id="preview" class="img-thumbnail">
    </div>
    <div>
        Prediction results:
        <div id="predictions"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="/templates/predict.js" ></script>
 </body>
</html>